$color: #fff;
$color1: #868aaf;
$color2: #db3baa;
$color2-dark: darken($color2, 10%);
$color2-darker: darken($color2, 30%);
$color3: #0025f1;
$backgroundColor: #060a3d;


*{padding: 0; margin: 0; box-sizing: border-box;}
*::after, *::before{box-sizing: boder-box;}

#player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;
    .header{
        text-align: center;
        h1{
            padding-top: 20px;
            color: $color;
        }
        p{
            color: $color1;
            font-size: 12px;
        }
    }

    .area-effect{
        .balls{
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                display: block;
                width: 5px;
                height: 5px;
                margin: 4px;
                background-color:$color2-darker;
                border-radius: 50%;
                &.current{
                    width: 8px;
                    height: 8px;
                    background-color: $color2;
                }
            }
        }
    }
}

.panel-effect{
    position: relative;
    .effect{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vw;
        >div{
            background-size: contain;
           
        position: absolute;
        }

        .effect-1{
            height: 70vw;
            width: 70vw;
            background: url(../svg/effect-no-move.svg) 0 0 no-repeat;
            animation: rotate 20s linear infinite;
        }
        .effect-2{
             background: url(../svg/effect-move1.svg) 0 0 no-repeat;
             height: 50vw;
             animation: rotate 10s linear infinite reverse;
             width: 50vw;
        }
       .effect-3{
              background: url(../svg/effect-move2.svg) 0 0 no-repeat;
              height: 40vw;
              animation: rotate 10s linear infinite;
              width: 40vw;
        }
        
    }    
}

.lyrics{
    text-align: center;
    >p{
        font-size: 13px;
        color: $color1;
        margin-top: 10px;
        &.current{
            color:$color;
        }
    }
}


.buttons{
    display: flex;
    justify-content: center;

    svg{
        width: 24px;
        height: 24px;
        margin: 0 10px;
    }
}

 
    .bar-area {
      color: $color1;
      font-size: 12px;
      display: flex;
      padding: 0 20px;
      margin-top: 20px;
      align-items: center;
      .time-start {
        order: 1;
        width: 40px;
      }
      .time-end {
        order: 3;
        width: 40px;
      }
      .bar {
        order: 2;
        flex: 1;
        height: 4px;
        background: $color3;
        border-radius: 2px;
        margin: 0 10px;
        .progress {
          width: 0%;
          transition: all .2s;
          height: 100%;
          border-radius: 2px;
          background: $color2;
          position: relative;
  
          &::after {
            content: '';
            position: absolute;
            right: -8px;
            top: -7px;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../svg/progress.svg) 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  
.footer{
    width: 100%;
    padding: 16px;
    align-self: flex-end;
}

.actions{
    display: flex;
    margin:10px;
    padding: 16px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}