$color: #fff;
$color1: #868aaf;
$color2: #db3baa;
$color2-drak: darken($color2, 10%);
$color2-darker: darken($color2, 30%);
$color3: #0025f1;
$backgroundColor: #060a3d;

*{padding: 0; margin: 0; box-sizing: border-box;}
*::after, *::before{box-sizing: boder-box;}
.player{
    border: 1px solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $backgroundColor;
}

.header{
    border: 1px solid red;
    text-align: center;
    margin-top: 20px;
    h1{
    color: $color;
    font-size: 20px;
    }

    p{
        color: $color1;
        font-size: 12px;
    }
}

.panel{
    border: 1px solid wheat;
    flex-grow: 1;

    .balls{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        span{
            display: block;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: $color2-darker;
            margin: 0 4px;
            &.current{
                height: 8px;
                width: 8px;
                background-color: $color2;
            }
        }
    }
}

.effect-panel{
    position: relative;
    .effect{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vw;
    >div{
        position: absolute;
        background-size: contain;
    }
    .effect-1{
        background: url('../svg/effect-no-move.svg') 0 0 no-repeat;
        width: 70vw;
        height: 70vw;
        animation: rotate 20s linear  infinite;
    }
    .effect-2{
        background: url('../svg/effect-move1.svg') 0 0 no-repeat;
        width: 60vw;
        height: 60vw;
        animation: rotate 10s linear  infinite reverse;
    }

    
    .effect-3{
        background: url('../svg/effect-move2.svg') 0 0 no-repeat;
        width: 24vw;
        height: 24vw;
        animation: rotate 10s linear  infinite;
    }

    
    }
}
.footer{
    border: 1px solid white;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}